img {
    height: 200px;
    width: fit-content;
}

.helmet {
    height: 120px;
}

.pants {
    margin-top: -30px;
    padding-right: 5px;
    height: 340px;
}

.player {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}